html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.ais-SearchBox-form {
  text-align: center;
}

.ais-SearchBox-input {
  padding: 0.8rem;
  margin-right: 1rem;
}

.ais-RefinementList-list {
  text-decoration: none;
  list-style-type: none;
}

.ais-Hits-list {
  list-style-type: none;
}
