.navBar {
  position: fixed;
  bottom: 5px;
  height: 3rem;
  padding: 2px 5px;
  margin: 2px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  width: calc(100% - 10px);
}

.searchField {
  margin: 2px 5px 0px 5px;
  width: calc(100% - 10px);
}

.productList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCard {
  margin: 10px 0px;
}

.layout {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.headerWrapper {
  margin: auto;
}

.header {
  max-width: 1280px;
  justify-content: space-between;
  color: white;
  margin: auto;
  width: 100%;
}

.whiteIcon {
  color: white;
}

.desktopIcon {
  display: none;
}

.iconWrapper {
  display: flex;
}

.mobileIcon {
  display: block;
}

/*
* style override for desktop
*/
@media only screen and (min-width: 600px) {
  .desktopIcon {
    display: block;
  }

  .navBar {
    display: none;
  }
}
