.navBar {
  position: fixed;
  bottom: 5px;
  height: 3rem;
  padding: 2px 5px;
  margin: 2px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  width: calc(100% - 10px);
}

.searchField {
  margin: 2px 5px 0px 5px;
  width: calc(100% - 10px);
}

.productList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCard {
  margin: 10px 0px;
}

.layout {
  margin-bottom: 5rem;
}
